
DockerForTesting/unitTest/.idea/inspectionProfiles/profiles_settings.xml
DockerForTesting/unitTest/.idea/misc.xml
DockerForTesting/unitTest/.idea/modules.xml
DockerForTesting/unitTest/.idea/unitTest.iml
DockerForTesting/unitTest/.idea/vcs.xml
DockerForTesting/unitTest/.idea/workspace.xml
DockerForTesting/juiceShopTest/.idea/inspectionProfiles/profiles_settings.xml
DockerForTesting/juiceShopTest/.idea/juiceShopTest.iml
DockerForTesting/juiceShopTest/.idea/misc.xml
DockerForTesting/juiceShopTest/.idea/modules.xml
DockerForTesting/juiceShopTest/.idea/vcs.xml
DockerForTesting/juiceShopTest/.idea/workspace.xml
